<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 mb-4">
            <div style="position: relative; text-align: center;">
                <img src="/images/bodega.jpg" alt="" class="img-fluid w-800" style="max-height: 1000px;">
                <div class="overlay-text">
                    <h1 class="display-4">Hotel</h1>
                    <p class="lead">
                          Immerse yourself in a brilliant stay at Villa Mosavali. We provide families, wine lovers, business, and leisure travelers with a rewarding experience through excellent service, upscale amenities, incredible cuisine, open pool, exclusive wine experiences, natural beauty of the surroundings and a convenient location. Enjoy visiting Villa Mosavali, just 30 minutes away from the capital.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
    
        <div class="col-md-6">
            <img src="/images/room2.jpg" alt="" class="img-fluid">
        </div>
       
        <div class="col-md-6 text-left">
            <h1 class="display-5">ROOMS</h1>
            <p class="lead">
                Whether traveling for business or leisure Villa Mosavali resort will provide everything you need to enjoy your getaway. Located in natural beauty of the surroundings lends, incredible complex provides 26 standard, 2 deluxe and 3 family rooms, Every well-appointed room is carefully designed for your maximum satisfaction. With sophisticated, elegant interior design, comfort and picturesque views from each room.</p>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Standard rooms</h1>
            <p class="lead">
                Standard rooms,  boast stylish furnishings, creating a sense of warmth and luxury, They are airconditioned, bright rooms with modern décor and beautiful views over the mountains or vineyards. For your comfort they are equipped with smart TV, direct dial phone, mini bar, safe box and tea & coffee station.             </p>
        </div>
        <div class="col-md-6">
            <img src="/images/room1.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Deluxe Room</h1>
            <p class="lead">
                Whether traveling for business or leisure, you’ll find spacious rooms with two separate bedrooms and entrance, all the amenities you need, such as flat-screen TVs, complimentary Wi-Fi and ultra-comfortable bedsand tea service. enjoy picturesque scenery of mountains and vineyards from the balcony.            </p>, 
        </div>
        <div class="col-md-6">
            <img src="/images/room3.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Family Room</h1>
            <p class="lead">
                Our family rooms provide plenty of space and comfort when traveling with family. You’ll find connecting rooms and all of the amenities you need, such as flat-screen TVs, complimentary Wi-Fi and ultra-comfortable beds amazing views from spacious terrace.

            </p>
        </div>
        <div class="col-md-6">
            <img src="/images/roomfamily.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>