<div class="container mt-5">
    <div class="row">
        <!-- Columna para la imagen -->
        <div class="col-md-6">
            <img src="/images/wine5.jpeg" alt="Nuestras Viñas" class="img-fluid">
        </div>
        <!-- Columna para el contenido de texto -->
        <div class="col-md-6">
            <h1 class="display-4">Our Vineyards</h1>
            <p class="lead">
              
        </div>
    </div>
</div>