<body class="bg-secondary-subtle"></body>
<div class="container mt-5">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/images/map.jpeg" class="img-fluid rounded-start" alt="Mapa">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Contact Us</h5>
                        <address>
                            <p>Address</p>
                            <p>Village Akhalubani, Natakhtari, Georgia</p>
                            <p>TEL: +995 32 229 59 99</p>
                            <p>E-mail: <a href="mailto:info@villamosavali.com">info@villamosavali.com</a></p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>