<form action="/list" method="get" class="text-center mt-4">
    <div class="col-md-6 mx-auto">
        <div class="mb-3">
            <label for="checkInDate" class="form-label">Check In</label>
            <input type="date" class="form-control" id="checkInDate" name="checkInDate">
        </div>

        <div class="mb-3">
            <label for="checkOutDate" class="form-label">Check Out</label>
            <input type="date" class="form-control" id="checkOutDate" name="checkOutDate">
        </div>

        <button type="submit" class="btn btn-success">Reserve</button>
    </div>
</form>



