<div class="container">
  <h1>Reservas del Usuario</h1>
  <ul class="list-group">
    {{#each user.reservations}}
      <li class="list-group-item">
        <h3>{{this.room.name}}</h3>
        <p>Tipo: {{this.room.type}}</p>
        <p>Precio: {{this.room.price}}</p>
      </li>
    {{/each}}
  </ul>
</div>
