<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 mb-4">
            <div style="position: relative; text-align: center;">
                <img src="/images/wine3.jpeg" alt="" class="img-fluid w-800" style="max-height: 1000px;">
                <div class="overlay-text">
                    <h1 class="display-4">Restaurants and Bars</h1>
                    <p class="lead">
                        Experience perfect gathering places for your friends, colleagues, family or beloved ones at Villa Mosavali restaurants. Treatyourself with delicious food at our European Restaurant, with stylish ambiance and state of the art bar, discover masterpieces of Georgian food at the Georgian Corner, or simply chill out at our Pool-Bar at any time of day with a coffee, where we offer light dishes, grilled specialties cocktails and variety of our exquisite wines.Relax, enjoy culinary delights and connect with your loved ones at one of our restaurants                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
    
        <div class="col-md-6">
            <img src="/images/restaurant1.jpg" alt="" class="img-fluid">
        </div>
       
        <div class="col-md-6 text-left">
            <h1 class="display-5">European Restaurant</h1>
            <p class="lead">
                The restaurant features elegant atmosphere and incorporates the beauty of the surrounding landscape with floor to ceiling windows. Dinner is served on round tables of 8, the space has its state-of-the-art bar, stage and high-tech sound system for live performances. This is the place for any occasions, breakfast, dinner, either a bite or celebration. At our restaurants you will discover out chefs’ culinary masterpieces of international cuisine
            </p>"
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Georgian Corner</h1>
            <p class="lead">
                           We believe that this exquisite location and the dishes we serve, which are strongly linked to Georgian traditions provide the perfect ambiance for Georgian style dinner.

Here, you can experience the Georgian culinary creativity, that is passed down through generations. Taste Georgian dishes created in open kitchen buy our experienced chefs, bite a freshly baked bread out of the Tone and admire green landscapes, refreshed by the breeze from mountains.

We will do our best to ensure you enjoy an authentic Georgian food and wine and have unforgettable cheerful time with your companions. Our extensive selection of wines creates the perfect complement to this exceptional culinary journey. </p>
        </div>
        <div class="col-md-6">
            <img src="/images/restaurant2.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>