<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 mb-4">
            <div style="position: relative; text-align: center;">
                <img src="/images/wine.jpeg" alt="" class="img-fluid w-800" style="max-height: 1000px;">
                <div class="overlay-text">
                    <h1 class="display-4">Our Vineyards</h1>
                    <p class="lead">
                        Villa Mosavali vineyards are spread between three villages. The majority of our white varieties are produced in the village of Akhalubani in the Kartli region, next to our winery. It is a 12-ha plot with several indigenous Kartli wine varieties like Goruli Mtsvane, Shavkapito, and Chinuri. Also, we have planted Usakhelauri, a famous variety from West Georgia. Earlier vineyards are concentrated in the Kakheti region, villages of Qvemo Qedi and Bakurtsikhe. All of our Saperavi and Rkatsiteli varieties are grown there. Qvemo Qedi is situated 700 meters above sea level in the area of Kakheti. While Bakurtsikhe is in Gurjaani municipality representing the warmer lowlands of Kakheti.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
    
        <div class="col-md-6">
            <img src="/images/wine5.jpeg" alt="" class="img-fluid">
        </div>
       
        <div class="col-md-6 text-left">
            <h1 class="display-5">Company Mission Statement</h1>
            <p class="lead">
                Villa Mosavali winery is a family-owned and operated business. The complex is located near our own vineyards in the village of Akhalubani.
It includes - state of an art winery, where all our classic European style wine varieties are produced:
We are proud to be among the few wine companies situated in the Kartli region and representing local winemaking traditions.
The fertile river basins of Kartli have great potential for winemaking, a potential that was almost completely ignored during the Soviet Union. The Command economy of the union prioritized quantity over quality and diversity. Because of that, the winemaking traditions of Kartli and western Georgia were under threat of disappearing completely.
The difficult task of preserving wine culture in those regions fell on the shoulders of local peasants and a few oenologists that worked diligently to bring governments attention to this matter. The founding idea of the Villa Mosavali winery was to join this struggle to develop both the winemaking and tourism industry in Kartli.
Villa Mosavali is a company set to revive winemaking traditions in Kartli region. Mostly neglected during the soviet rule, wine production in Kartli was maintained by the zeal and diligent work of local peas- ants. Small family wineries, mostly using traditional Georgian wine- making technology of “Qvevri” managed to conserve unique regional wine varieties. Our company aims to bring high quality and standards to this struggle and make local varieties known worldwide. We already produce several indigenous wines like Chinuri and Goruli Mtsvane and aim to include more in near future.
            </p>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">How our Wine was born</h1>
            <p class="lead">
                Everything started with goal of Villa Mosavali founders to create a place where the best quality wine is made and enjoyed together with delicious cuisine, in a beautiful environment.
Their vision to blend heritage with the best modern practices resulted into production of outstanding wines and spirits.
Taste several different wines and spirits from the French oak barrels in aging cellar, clay vessels in traditional Georgian Marani, or straight from the cisterns of the winery or at the brandy distill- ery corner.
Our award-winning wines are the result of a magnificent, dynamic terroir and the best vinicultural and winemaking techniques and practices.
We apply traditional knowledge, scientific learning and rigorous testing and modernized process to our wine making practices. We use non-corrosive, as well as oak barrels and Georgian traditional technology of “Qvevri” Clay vessels. We take extra care in preserv- ing the flavors of the fruit during our winemaking process.
We grow several varietals of grapes planted in many different soils with an array of sun exposure. Our vineyards, 40 hectares in total, are located in most fruitful and diverse regions of Georgia such as Kakheti and Kartli. While harvesting, the grapes are picked by hand and are collected in small trays to be transferred to the winery immediately.
Our wines have received several prizes and medals on Internation- al Wine Challenge festival and On Decanter Fine Wine Encounter in London.
            </p>
        </div>
        <div class="col-md-6">
            <img src="/images/wine4.jpeg" alt="" class="img-fluid">
        </div>
    </div>
</div>
